@mixin media() {
    @media (min-width: 768px) {
        @content;
    }
}


.project-header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.siteTitle {
    // display: block;

    font-weight: 900;
    font-size: 30px;
    margin: 20px 0;

    @include media {
        font-size: 60px;
    }
}

.project-header,
.project-main {
    max-width: 960px;
    margin: 0 auto;
}

.card {
    height: 400px;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    border: 4px solid #b0215e;
    margin-bottom: 20px;
    background-image: url('../assets/images/charatermanager.png');
    background-size: cover;

    @include media {
        height: 500px;
    }
}

.inner {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    box-sizing: border-box;
    padding: 40px;

    @include media {
        width: 50%;
        height: 100%;
    }
}

.title {
    font-size: 24px;
    color: black;
    text-align: center;
    font-weight: 700;
    color: #181818;
    text-shadow: 0px 2px 2px #a6f8d5;
    position: relative;
    margin: 0 0 20px 0;

    @include media {
        font-size: 30px;
    }
}

.subtitle {
    color: #b0215e;
    text-align: center;
}

.techs {
    width: 80%;
    text-align: left;
    border: 4px solid #b0215e;
    margin: 20px 0;

    h3 {
        margin: 15px 0;
        color: #181818;
        text-shadow: 0px 2px 2px #a6f8d5;

    }

    li {
        list-style: square;
        margin: 0 25px;
        color: #b0215e;
    }

}

.card2 {
    background-image: url('../assets/images/Mac-app.png');
}

.card3 {
    background-image: url('../assets/images/weatherapp.png');
}

.card3 {
    background-image: url('../assets/images/weatherapp.png');
}

.card4 {
    background-image: url('../assets/images/cogip.png');
}

.card5 {
    background-image: url('../assets/images/pomodoro.png');
}

.card6 {
    background-image: url('../assets/images/supro.png');
}

.card7 {
    background-image: url('../assets/images/pets.png');
}