footer {
    text-align: center;
    background-color: rgb(43, 43, 44);
    height: 15vh;
    color: #fff;
    font-size: 1.2rem;

    hr {
        height: 1px;
        background-color: grey;
        border: none;
        margin-bottom: 25px;
    }

}